footer{
    position: relative;
 
}

.bottom-bar{
    display:flex;
    justify-content: space-between;
    margin: 0 ;
    position: absolute;
    bottom: -79px;
    width: 100%;
    background: #b6b6b6;
}

.start-button{
    a{
        width: 50px;
        display: flex;
        flex-direction: row-reverse;
    }
}
