html{
    color: #000000;
    background: #19afb4;
    font-size: 62.5%;
    line-height: 1.5;
    scroll-behavior: smooth;
}


li{
    list-style: none;
}

li a{
    color: #8c0881;
}

a {
    text-decoration: none;
    color:hotpink
}

img {
    width: 100%;
}