p{
    font-size: 1.2rem;
    margin: 0 auto;

}

.txt{
    font-size: 1.2rem;
    color: black;
}

.start-button{
    a{
        p{
            color: black;
            padding-top: 7px;
        }
    }
}