.window-recycle,
.window-folder,
.window-website,
.window-notes,
.window-games {
    display: none;
}

.window.active{
    display:block;
    width: 500px;
    background-color: #35c5d8;
    z-index: 22;
    position: absolute;

}

.window-border{
    display: flex;
    justify-content: space-between;
    background: hotpink;
}

.close-window{
    font-size: 1.5rem;
    background: hotpink;
    border: 2px groove #e02d87;
    // border-top-style: 2px solid #a12b66;
    // border-left-style: 2px solid #a12b66; 
    // border-right-style: 2px solid blue;
    // border-bottom-style: 2px solid blue;

}

.inner-window{
    display: flex;
    height: 200px;
}

.quick-access{
    padding: 0 0 5px 5px;
    width:30%;
    // border-right: 2px solid hotpink;
    li{
        margin-bottom: 10px;
    }
}

.folder-contents-container,
.recycle-contents-container{
    width:70%;
}

.window{
    left: 175px;
    top: -225px;
}